@media screen and (min-width: 601px) {
  .button {
    font-size: 30px;
  }
  #buttonC {
    width: 500px;
  }
}

@media screen and (max-width: 600px) {
  .button {
    font-size: 17px;
  }
  #buttonC {
    width: 300px;
  }
}

h1, h3 {
  font-family: 'Oswald', sans-serif;
}

#loading {
  position: absolute;
  text-align: center;
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
}

#loadingMessage {
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#modal {
  position: absolute;
  z-index: 1;
  top: 10%;
  width: 100%;
  height: 32%;
  overflow: auto;
  background-color: rgba(255,255,255,0.8);
}

#map {
  height: 100%;
  width: 100%;
  position: relative;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#output {
  position: absolute;
  top: 18%; left: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
  height: 30%;
  width: 100%;
  text-align: center;
  line-height: 1;
}

#buttonC {
  position: relative;
  bottom: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: inline-block;
  display: block;
}

.button {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  background-color: white;
  color: black;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  border: 4px solid black;
  border-radius: 4px;
  margin: 5px 0px;
}

.button:hover {
  background-color: rgb(189, 189, 189);
}

.button:active {
  background-color: rgb(131, 131, 131);
}

.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}