/*
TODO:
make output appear in modal box
*/
#map {
  height: 500px;
  width: 100%;
  position: relative;
}
#output {
  height: 100px;
  width: 100%;
  padding-bottom: 50px;
  text-align: center;
}
#button {
  text-align: center;
}